body { 
	   color: #666666;
       font-family: Arial,sans-serif;
	   background-image: url(images/ptrbackground.jpg);
     }
header {
	     background-color: #000033; color: white;
		 background-image: url(images/sunset.jpg);
		 background-position: right;
		 background-repeat: no-repeat;
         text-align: center;
       }
#wrapper{
	     background-color: white;
		 width: 80%;
		 min-width: 960px;
		 margin-left: auto;
	     margin-right: auto;
		 box-shadow: 5px 5px #666666;
        }
nav { 
	  background-color: #90C7E3;
      font-weight: bold;
      text-align: center;
	  padding: 5px 5px 5px 20px;
    }
nav a {
	   text-decoration: none
      }
h1 {
	font-family: Georgia,serif;
	margin-bottom: 0;
	padding: 10px 10px;
	}
h2 { 
	 color: #3399CC;
     font-family: Georgia,serif;
	 text-shadow: 1px 1px #666666;
   }
main { 
	  padding: 1px 20px 20px 20px
     }
main ul {
	     list-style-image: url(images/marker.gif);
        }
.resort { color: #5C7FA3;
          font-weight: bold;
        }
h3 { 
	 color: #000033;
     font-family: Georgia,serif;
   }
#contact {
	      font-size: 90%
         }
footer {
	    font-size: 75%;
	    text-align: center;
	    font-style: italic;
	    font-family: Georgia,serif;
		padding: 20px;
        }